# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# AWS S3
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET_NAME=


# Ollama
OLLAMA_BASE_URL=
OLLAMA_MODEL=
